@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');
*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: black;
    color:hsla(0, 0%, 100%, 0,75)
}
main{
    display: flex;
    margin: 280px;
    position: absolute;
    left: 30px;
    padding: 50px;
    background-color: white;
}
@media only screen and (max-width: 600px) {
  main {
    display: flex;
    position: absolute;
   margin: 10px;
   padding: 20px
}
}



.sudan{
    background-color: hsl(31, 77%, 52%);
    width: 220px;
    height: 350px;
    border-radius: 2px;
}

.suv{
    height: 350px;
    width: 220px;
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    width: 220px;
    height: 350px;
    border-radius: 2px;
    color: hsl(179, 100%, 13%);
    background-color: hsl(179, 100%, 13%)  
}

@media  (max-width: 600px) {
    .suv, .sudan, .luxury {
      width: 150px;
      height: 300px;
      position: relative;
      right: 15px;
    }
   
}

.img{
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
}
.btn1{
    left: 55px;
    position: relative;
    top: 300px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color: hsl(31, 77%, 52%);
    background-color:hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.btn2{
    left: 55px;
    position: relative;
    top: 300px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-weight: 400;
    border-radius: 50px;
    color: hsl(184, 100%, 22%);
    background-color:hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}
.btn3{
    left: 55px;
    position: relative;
    top: 300px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-weight: 400;
    border-radius: 50px;
    color: hsl(179, 100%, 13%);
    background-color:hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

@media (max-width: 600px) {
.btn1, .btn2, .btn3{
position: relative;
cursor: pointer;
top: 250px;
left: 50px;
width: 50px;
height: 20px;
font-size: 0.4rem;
}
}


h2{
    color: hsla(0, 0%, 95%);
    font-size: 1.3rem;
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    padding-left: 20px;
    padding-top: 60px;
 }

p{
    padding-top: 120px;
    position: absolute;
    padding-left: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.6rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

@media (max-width: 600px) {
.h2{
    position: relative;
    font-size: 0.5rem;
}

.p{
    top: 10px;
    position: relative;
    padding-left: 200px;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 0.2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
};
}

